*,::after,::before{box-sizing:border-box}blockquote,body,dd,dl,figure,h1,h2,h3,h4,p{margin:0}ol[role=list],ul[role=list]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,::after,::before{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}

html, body {
    display: flex;
	flex-direction: column;
	flex-grow: 4;
    margin: 0;
	color: #fff;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    height: 100%;
    background: #343434;
}

header, footer {
	display: flex;
	background-color: #2c2c2c;
	border-bottom: 2px solid #CAAC63;
}

body {
    background: #343434;
	font-family: Georgia, serif;
}

a {
	color: #CAAC63;
	text-decoration: none;
	
}

h1, h2, h3 {
    padding: 20px 0 20px 0;
	font-weight: normal;
	font-family: Open Sans, sans-serif;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
	font-weight: 600;
    color: #CAAC63;
    text-decoration: none;
}

p {
	font-size: 14px;
	font-weight: normal;
    padding-bottom: 10px;
}

.narrow {
	padding: 0px 90px;
}

.paginate {
    justify-content: space-evenly;
    display: flex;
}

.published  {
    color: #959595;
    padding: 0px 0 10px 0;
}

.socialfeed, .share {
	display: flex;	
}

.bordleft {
	padding-left: 10px;
	border-left: 1px solid #CAAC63;
}

.share img {
	padding-right: 10px;
}

img.transcript {
    display: inline;
}

p.transcript, .castscript{
	padding-bottom: 0px;
	margin: 2px;
    font-size: 18px;
}

.drammage {
	border: 2px solid #CAAC63;
	margin: 10px;
	border-bottom: 0;
}

.drammage p {
    padding: 10px 0 0 0;
}

.whanser {
	padding-top: 10px;
	display: flex;
	justify-content: center;
}

.whanser img {
	border-bottom: 2px solid #CAAC63;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.dram-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.drammage .dram {
	color: #CAAC63;
}

.column {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.dram-item {
    border-bottom: 2px solid #CAAC63;
    padding: 0 0 10px 0
}

.dram-button {
    color: #343434;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #caac63;
    border-radius: 8px;
    max-width: 170px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

/* removed 
picture, img {
	width: 100%;
}*/

/* Header */
header {
	height: 60px;
}

.centralis, .middle {
    display: flex;
    flex-grow: 4;
    justify-content: center;
    align-items: center;
}

.centralis img {
	width: auto;
	padding: 20px;
}

.menubutton, .search {
	display: flex;
	flex-grow: 2;
}


#menu, .search {
	display: none;
}

#menu img {
	width: auto;
}

@media screen and (max-width: 600px) {
	#menu, .search {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	
}

/* sidebar */
#drawer {
	width: 250px;
	background: #343434;
	flex-basis: 15%;
}

#drawer .header {
	padding: 0px 24px;
}


#drawer ul {
    list-style: none;
}

nav {
    display: flex;
	flex-direction: column;
}

nav a {
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	color: #CAAC63;
	text-decoration: none;
	margin: 10px 0 0 0;
}

nav.social {
    display: flex;
    flex-direction: row;
}

nav.social a {
	color: #fff;
    text-decoration: none;
	line-height: 1;
}

nav.social img {
    margin: 0px 5px 0px 0px;
	border: 0;
	padding-right: 5px;
}

#drawer .border {
	border-top: 2px solid #959595;
	margin: 20px 0 20px 0;
}

.sideheader {
	font-size: 18px;
}

#drawer section {
	border-bottom: 2px solid #CAAC63;
	border-right: 2px solid #CAAC63;
	border-left: 2px solid #CAAC63;
	padding: 20px 40px 40px 40px;
	width: 256px;
	background-color: #535353;
}

.overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,.54);
	z-index: 1;
}

/* Standards */
.thirds {
	display: flex;
	flex-direction: row;
}

.third {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	padding: 10px;
}

.smallbutton {
    color: #343434;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #caac63;
    border-radius: 8px;
    min-width: 170px;
    margin-top: 10px;
	font-size: 14px;
	font-weight: 600;
}

.smallbutton p, .dram-button p {
    padding-top: 5px;
    padding-bottom: 5px;
}



}

.flexcast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.half {
    flex-basis: 50%;
}

.four {
	display: flex;
	padding-bottom: 20px;
}

.oneth {
	display: flex;
    flex-basis: 25%;
	padding: 10px 20px 10px 0;
}

.threeth {
    display: flex;
    flex-basis: 75%;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid #CAAC63;
	border-right: 1px solid #CAAC63;
}

.quotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
	border-top: 1px solid #959595;
    padding: 20px 0 20px 0;
	margin: 20px 0 0 0;
}

#quote, .quote {
    quotes: "\201C""\201D""\2018""\2019";
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0em;
    font-size: 17px;
}

#attrib {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    margin-top: 0em;
    font-size: 14px;
}


.crew {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 300px;
    background-repeat: no-repeat;
	background-size: cover;
    background-image: url(images/desktop_mtc_gcx.png);
}

.transbox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    background: rgba(0, 0, 0, 0.6);
	margin: 20px;
	padding: 10px;
	max-width: 40%;
}

.playbar {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #caac63;
    width: 100%;
	padding: 20px;
	margin-bottom: 20px;
}

audio {
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
}

.podhead {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-repeat: no-repeat;
	background-size: cover;
    background-image: url(images/pc_desktop_banner.png);
}

.transpod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
    background: rgba(0, 0, 0, 0.6);
	margin: 0px 20px 20px 20px;
	padding: 10px;
}

.vercentral {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Main */
article {
    margin: 0px 24px 0px;
    flex-grow: 4;
    flex-basis: 85%;
}

article .border {
    border: 1px solid #959595;
    margin: 20px 0 20px 0;
}

.third img {
	border-top: 2px solid #CAAC63;
}

.topbord {
	font-family: Georgia, serif;
    text-align: center;
    color: #CAAC63;
    border-top: 1px solid #959595;
    margin: 20px 0 0 0;
	padding: 20px 0px;
}


/* Footer */
footer {
	display: flex;
	flex-direction: column;
	border-top: 2px solid #caac63;
	margin-top: 20px;
	padding-top: 40px;
}

footer .third a {
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	color: #CAAC63;
	text-decoration: none;
	margin: 10px 0 0 0;
}

.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 40px;
	background-color: #CAAC63;
}

.copyright p {
   padding: 20px;
    text-align: center;
    color: #2c2c2c;
}

.copyright a {
	color: #2c2c2c;
	font-family: Georgia, serif;
	text-decoration: underline;
}


@media screen and (min-width: 600px) {
	.menubutton, .search {
		display: none;
	}
	main {
		padding: 0px 120px 0px 120px;
	}

	footer .thirds {
		padding: 0 180px 0 180px;
	}

	article {
		padding-top: 20px;
	}
}

@media screen and (min-width: 1700px) {
	main {
		padding: 0px 240px 0px 240px;
	}
}


/* mobile */
@media screen and (max-width: 600px) {
	#drawer {
		height: 100%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 1; /* Stay on top */
		top: 0; /* Stay at the top */
		left: 0;
		overflow-x: hidden; /* Disable horizontal scroll */
		background: #343434;
		
	}
	#drawer section {
		border: 0px 
	}
	.thirds {
		display: flex;
		flex-direction: column;
	}
	.four {
		display:flex;
		flex-direction: column;
	}
	.oneth {
		padding: 0px 0px 20px 0;
	}

	footer p {
		font-size: 16px;
	}

	footer .third a {
		font-size: 14px;
	}

	.crew {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-height: 500px;
		background-size: cover;
		background-image: url(images/mobile_mtc_gcx.png);
	}

	.transbox {
		margin: 20px;
		padding: 10px;
		align-self: flex-end;
		max-width: 100%;
	}

	.podhead {
		display: flex;
		flex-direction: column;
		background-repeat: no-repeat;
		background-image: url(images/pc_mobile_banner.png);
	}

}









